@font-face 
  font-family: "Moon Flower"
  src: url("#{$fontPath}/Moon_Flower_Bold.ttf")
  //IE9 Compat Modes
  src: url("#{$fontPath}/Moon_Flower_Bold.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/Moon_Flower_Bold.woff") format("woff"), url("#{$fontPath}/Moon_Flower_Bold.ttf") format("truetype")
  // Legacy iOS
  font-style: normal
  font-weight: 900

  font-family: "Roboto Thin"
  src: url("#{$fontPath}/Roboto-Thin.ttf")
  //IE9 Compat Modes
  src: url("#{$fontPath}/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/Roboto-Thin.woff") format("woff"), url("#{$fontPath}/Roboto-Thin.ttf") format("truetype")
  // Legacy iOS
  font-style: normal
  font-weight: 100

  font-family: "Roboto Light"
  src: url("#{$fontPath}/Roboto-Light.ttf")
  //IE9 Compat Modes
  src: url("#{$fontPath}/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("#{$fontPath}/Roboto-Light.woff") format("woff"), url("#{$fontPath}/Roboto-Light.ttf") format("truetype")
  // Legacy iOS
  font-style: normal
  font-weight: 100
