@font-face 
  font-family: "Druk Wide Med"
  src: url("/fonts/DrukWide-Medium_gdi.eot")
  //IE9 Compat Modes
  src: url("/fonts/DrukWide-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("/fonts/DrukWide-Medium_gdi.woff") format("woff"), url("/fonts/DrukWide-Medium_gdi.ttf") format("truetype"), url("/fonts/DrukWide-Medium_gdi.svg") format("svg")
  // Legacy iOS
  font-style: normal
  font-weight: 900

@font-face 
  font-family: "Flama"
  src: url("/fonts/flama-basic-wedfont.eot")
  //IE9 Compat Modes
  src: url("/fonts/flama-basic-wedfont.eot?#iefix") format("embedded-opentype"), url("/fonts/flama-basic-webfont.woff") format("woff"), url("/fonts/flama-basic-webfont.ttf") format("truetype"), url("/fonts/flama-basic-webfont.svg") format("svg")
  // Legacy iOS
  font-style: normal
  font-weight: 400