/* line 1, partials/desktop/_header.sass */
.header-image img {
  padding: 10px 5px 10px 5px;
  width: 214px;
}

/* line 5, partials/desktop/_header.sass */
.header {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 9, partials/desktop/_header.sass */
.button-words {
  width: 214px;
  text-align: center;
  display: inline-block;
  padding-left: 5px;
  font-family: "Druk Wide Med";
  display: none;
}

/* line 1, partials/desktop/_story.sass */
.story {
  width: 693px;
  height: 622px;
}

/* line 6, partials/desktop/_story.sass */
.story-hero {
  width: 693px;
}

/* line 9, partials/desktop/_story.sass */
p {
  text-align: center;
}

/* line 12, partials/desktop/_story.sass */
li {
  list-style: none;
}

/* line 15, partials/desktop/_story.sass */
ul {
  -webkit-padding-start: 0px;
}

/* line 1, partials/desktop/_shoe.sass */
.story-sub-image {
  padding: 7px 5px 10px 5px;
  width: 214px;
  filter: none;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

/* line 10, partials/desktop/_shoe.sass */
.story-sub-image:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}

/* line 17, partials/desktop/_shoe.sass */
.sub-images {
  padding-right: 5px;
  padding-left: 5px;
}

/* line 21, partials/desktop/_shoe.sass */
.call-to-action-shop-now {
  font-family: "Druk Wide Med";
  color: #434343;
  font-size: 22px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  height: 190px;
  text-align: center;
}

/* line 31, partials/desktop/_shoe.sass */
.shoe-text-wrapper {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  line-height: 3px;
}

/* line 37, partials/desktop/_shoe.sass */
.shop-now img {
  margin-top: 40px;
}

/* line 40, partials/desktop/_shoe.sass */
#text-switch-two, #text-switch-three, #text-switch-four {
  display: none;
}

/* line 43, partials/desktop/_shoe.sass */
.shoe-switchbox {
  height: 35px;
}

/* line 46, partials/desktop/_shoe.sass */
.a-left {
  float: left;
  padding-left: 40px;
}

/* line 50, partials/desktop/_shoe.sass */
.a-right {
  float: right;
  padding-right: 40px;
}

/* line 54, partials/desktop/_shoe.sass */
.arrows {
  z-index: 1;
  margin-top: 200px;
  position: relative;
}

/* line 59, partials/desktop/_shoe.sass */
.carouselbox .content {
  margin: 0;
  padding: 0;
}

/* line 63, partials/desktop/_shoe.sass */
.active li {
  position: absolute;
  opacity: 0;
  margin-top: -193px;
  transition: 1s;
}

/* line 69, partials/desktop/_shoe.sass */
.active li.current {
  opacity: 1;
  margin-top: -193px;
  transition: 1s;
  left: 0;
}

/* line 75, partials/desktop/_shoe.sass */
.relative-carosel-container {
  position: relative;
}

@font-face {
  font-family: "Druk Wide Med";
  src: url("/fonts/DrukWide-Medium_gdi.eot");
  src: url("/fonts/DrukWide-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("/fonts/DrukWide-Medium_gdi.woff") format("woff"), url("/fonts/DrukWide-Medium_gdi.ttf") format("truetype"), url("/fonts/DrukWide-Medium_gdi.svg") format("svg");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Flama";
  src: url("/fonts/flama-basic-wedfont.eot");
  src: url("/fonts/flama-basic-wedfont.eot?#iefix") format("embedded-opentype"), url("/fonts/flama-basic-wedfont.woff") format("woff"), url("/fonts/flama-basic-wedfont.ttf") format("truetype"), url("/fonts/flama-basic-wedfont.svg") format("svg");
  font-style: normal;
  font-weight: 400;
}
