<section class="footer-container">
  <div class="top_row">
    <div class="info-sec">
      <div class="blip"></div>
      <p>b.jazzy.w@gmail.com</p>
    </div>
    <div class="info-sec">
      <div class="blip"></div>
      <p>Portland, OR</p>
    </div>
  </div>
  <div class="bottom_row">
    <div class="icons">
      <p>social media icons</p>
    </div>
  </div>
</section>