<section class="footer-container">
  <div class="half_1">
    <div class="info-sec">

      <div class="blip">
        
      </div>
      <p>b.jazzy.w@gmail.com</p>
    </div>
    <div class="info-sec">
    
      <div class="blip">
        
      </div>
        <p>Portland, OR</p>
    </div>
  <!--   <div class="info-sec">
      <div class="blip">
        <p>b.jazzy.w@gmail.com</p>
      </div>
    </div> -->
  <div class="half_2">
    social media icons
  </div>
</section>