<div class="header">
  <%=  image_tag "header_img_1.png",  :class => "header-image header-shoe"  %>
  <%=  image_tag "header_img_2.png",  :class => "header-image header-hoodie"  %>
  <%=image_tag "header_img_3.png",  :class => "header-image header-apparel"  %>
  <div class="button-words">
    <p>KD</p>
  </div>
  <div class="button-words">
    <p>HOODIE</p>
  </div>
  <div class="button-words">
    <p>COLLECTION</p>
  </div>
</div>