<div class="header">
  <%= link_to image_tag("header_img_1.png"),  "/index.html", :class => "header-image"  %>
  <%= link_to image_tag("header_img_2.png"), "/hoodie_story.html", :class => "header-image"  %>
  <%= link_to image_tag("header_img_3.png"), "/apparel_story.html", :class => "header-image"  %>
  <div class="button-words">
    <p>KD</p>
  </div>
  <div class="button-words">
    <p>HOODIE</p>
  </div>
  <div class="button-words">
    <p>COLLECTION</p>
  </div>
</div>