<div class="header">
  <div class="header-padding">
    <div class="blur-confine">
      <%=  image_tag "header_img_1.png",  :class => "header-image header-shoe blur"  %>
    </div>
  </div>
  <div class="header-padding">
    <div class="blur-confine">
    <%=  image_tag "header_img_2.png",  :class => "header-image header-hoodie blur"  %>
    </div>
  </div>
  <div class="header-padding"> 
    <div class="blur-confine">
    <%=image_tag "header_img_3.png",  :class => "header-image header-apparel blur"  %>
    </div>
  </div>
  <div class="header-words-container">
    <div class="button-words bw-1">
      <p>KD</p>
    </div>
    <div class="button-words bw-2">
      <p>HOODIE</p>
    </div>
    <div class="button-words bw-3">
      <p>COLLECTION</p>
    </div>
  </div>
</div>