<section class="header">
  <%= image_tag "logo.jpg", :class => "logo" %>
  <div class="header-text left">
    <p>I'm Jazzy</p>
    <p>I make digital things.</p>
  </div>
  <div class="right">
    <div class="header-words">
      <p><a href="images/resume_2016.pdf"  target="_blank"> resumé </a></p>
    </div>
    <%= image_tag "images/arrows.jpg", :class => "header-image" %>
  </div>
</section>