.footer 
  height: 100px
  font-family: "Moon Flower"
  font-size: 20px
  padding-top: 100px
  letter-spacing: 1px
  padding-bottom: 20px


.blip 
  background-color: #DEECDF
  width: 30px
  height: 8px
  margin-bottom: 15px

.info-sec 
  display: inline-block
  width: 49%

.top_row 
  margin: auto 0
  padding-left: 6%

.icons 
  float: right 
  padding-top: 30px

.footer-container 
  vertical-align: bottom




