p 
  margin: 0px

.container-body 
  width: 100%


.header 
  height: 340px
  position: relative
  font-family: "Moon Flower"

  .logo 
    float: right
    width: 60px
    height: auto
    padding: 10px 10px 0 0 

  .header-text
    position: absolute
    bottom: 0
    padding: 0px 0px 0px 60px
    font-size: 36px
    line-height: 40px

