.project-container 
  height: 50px
  background-color: #F1F0F0
  width: 90%
  margin: 0 auto
  display: table

.project-wrapper 
  padding-top: 10px
  padding-bottom: 10px


  .title 
    font-family: "Moon Flower"
    font-size: 20px
    padding-left: 10%
    letter-spacing: 2px
    vertical-align: middle
    display: table-cell
    padding-right: 12%
  

.main 
  padding-top: 30px

.plus 
  position: absolute
  right: 90px
  margin-top: 13px
  cursor: pointer
