.project-container 
  height: 50px
  background-color: #F1F0F0
  width: 90%
  margin: 0 auto
  display: table

.project-wrapper 
  padding-top: 10px
  padding-bottom: 10px


  .title 
    font-family: "Moon Flower"
    font-size: 20px
    padding-left: 10%
    letter-spacing: 2px
    vertical-align: middle
    display: table-cell
    padding-right: 12%
  

.main 
  padding-top: 30px

.plus 
  position: absolute
  right: 90px
  margin-top: 13px
  cursor: pointer

.minus 
  display: none
  position: absolute
  right: 90px
  margin-top: 13px
  cursor: pointer

.work-pull 
  background-color: #DDEBDE
  width: 90%
  margin: 0 auto
  


.work-body
  font-family: "Roboto Light" !important
  font-size: 14px
  font-weight: 300
  width: 80%
  margin: auto
  padding: 30px

  .project_info 
    font-size: 12px
    padding-top: 10px
    padding-bottom: 30px

  a 
    text-decoration: none
    color: #E77692
    font-weight: 900
    line-height: 26px


  hr 
    border: 0
    border-bottom: 1px dashed #ccc
    background: #999
    opacity: .25

  .images img
    width: 100%
    padding-bottom: 30px


