.main-frame-shoe
  background-image: url(/images/shoe_story/shoe_hero.png)
  display: block
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 693px
  height: 525px

.story-sub-image
  padding: 7px 5px 10px 5px
  width: 214px
  filter: none
  -webkit-filter: grayscale(100%)
  -moz-filter:    grayscale(100%)
  -ms-filter:     grayscale(100%)
  -o-filter:      grayscale(100%)

.story-sub-image:hover 
  filter: none
  -webkit-filter: grayscale(0%)
  -moz-filter:    grayscale(0%)
  -ms-filter:     grayscale(0%)
  -o-filter:      grayscale(0%)

.sub-images
  padding-right: 5px
  padding-left: 5px

.call-to-action-shop-now
  font-family: "Druk Wide Med"
  color: #434343
  font-size: 22px
  margin-left: 0 
  margin-right: 0 
  padding-top: 20px
  height: 190px
  text-align: center

.shoe-text-wrapper
  width: 650px
  margin: 0 auto
  text-align: center
  line-height: 3px

.shop-now img
  margin-top: 40px

#text-switch-two, #text-switch-three, #text-switch-four
  display: none

.shoe-switchbox
  height: 35px

.a-left
  float: left
  padding-left: 40px

.a-right
  float: right
  padding-right: 40px

.arrows
  z-index: 1
  margin-top: 200px  
  position: relative

.carouselbox .content 
  margin: 0
  padding: 0

.active li 
  position: absolute
  opacity: 0
  margin-top: -193px
  transition: 1s
 
.active li.current 
  opacity: 1
  margin-top: -193px
  transition: 1s
  left: 0

.relative-carosel-container
  position: relative

