---
title: Apparel Story
---

<div class="story">
  <%= partial "layouts/partials/header" %>
  <p class="apparel-main-text"> NIKE KD8 COLLECTION</p>
  <div class="main-frame-apparel story-hero">
  <div class="main-description-shops-apparel">
    <div class="">
    </div>
  </div>
</div>

