---
title: Jazzy is Awesome
---

<div class="container-body">
  <%= partial "layouts/partials/header" %>
  <div class="main">
    <div class="projects">
      <%= partial "layouts/partials/project" %>
    </div>
  </div>
  <div class="footer">
    <%= partial "layouts/partials/footer" %>
  </div>
</div>