---
title: KD8 Advanced Search
---

<div class="story">
  <%= partial "layouts/partials/header" %>
  <div class="main">
    <ul class="pages">
      <%= partial "layouts/partials/shoe_story" %>
      <%= partial "layouts/partials/hoodie_story" %>
      <%= partial "layouts/partials/apparel_story" %>
    </ul>
  <div>
</div>